body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.stopwatch {
    text-align: center;
}

.display {
    font-size: 3em;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.heading{
    font-family: Arial, sans-serif;
    color: #e113d3;
    height: 1em;
    width:10em;
    font-size: 3em;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(241, 96, 234);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
